 @font-face {
  font-family: "Museo_slab"; 
  src: url(../fonts/Museo_Slab_700.pft); 
}
@font-face {
  font-family: "HelveticaNeueW01-45Ligh";
  src: url("../fonts/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2?1") format("woff2"), url("../fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url("../fonts/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2?1") format("woff2"), url("../fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW01-65Medi";
  src: url("../fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2?1") format("woff2"), url("../fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW01-75Bold";
  src: url("../fonts/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2?1") format("woff2"), url("../fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW01-UltLt";
  src: url("../fonts/9baef9a5-e2af-4838-a3bc-da9d36c0bde8.woff2?1") format("woff2"), url("../fonts/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW01-Thin";
  src: url("../fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2?1") format("woff2"), url("../fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW01-95Blac";
  src: url("../fonts/fd05322c-bf43-4f8e-a129-24869b0942db.woff2?1") format("woff2"), url("../fonts/74649485-cd74-443e-9d54-331ccd448900.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW02-45Ligh";
  src: url("../fonts/7732d6de-bd05-4c17-ae43-99e9a02edf31.woff2?1") format("woff2"), url("../fonts/9a2e4855-380f-477f-950e-d98e8db54eac.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW02-55Roma";
  src: url("../fonts/b4cd926c-1a31-4785-b261-1db1a68c521e.woff2?1") format("woff2"), url("../fonts/d5af76d8-a90b-4527-b3a3-182207cc3250.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW02-65Medi";
  src: url("../fonts/9f93e286-eeaa-4077-b0b2-0e6901920f74.woff2?1") format("woff2"), url("../fonts/5b4a262e-3342-44e2-8ad7-719998a68134.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW02-75Bold";
  src: url("../fonts/2a5cf81d-ffbe-4c76-8982-270592fb36b0.woff2?1") format("woff2"), url("../fonts/4a9c62ab-b359-4081-8383-a0d1cdebd111.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW02-UltLt";
  src: url("../fonts/b39b5378-b594-45fe-8067-fc4385d08520.woff2?1") format("woff2"), url("../fonts/84558c76-9f1b-44d2-ac62-d7937f43809b.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW02-Thin";
  src: url("../fonts/96b33a5f-d3a7-4a34-b360-76867695bb83.woff2?1") format("woff2"), url("../fonts/775a65da-14aa-4634-be95-6724c05fd522.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW02-95Blac";
  src: url("../fonts/a9e72f14-d263-440b-b2a4-fa729879fb51.woff2?1") format("woff2"), url("../fonts/6d5b06b3-f8db-4de6-aa46-2a6de9569b51.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-45Ligh";
  src: url("../fonts/bb85cc70-1239-4a3c-b9c7-4da74afaf032.woff2?1") format("woff2"), url("../fonts/835e7b4f-b524-4374-b57b-9a8fc555fd4e.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-55Roma";
  src: url("../fonts/cf45dd62-4ace-47a2-abee-6fe9e95a1daa.woff2?1") format("woff2"), url("../fonts/8ac9e38d-29c6-41ea-8e47-4ae4d2b1a4e1.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-65Medi";
  font-weight: bold;
  src: url("../fonts/da3af6d8-5634-4072-8989-1ddf770e3142.woff2?1") format("woff2"), url("../fonts/5b29e833-1b7a-40ab-82a5-cfd69c8650f4.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-75Bold";
  src: url("../fonts/51f47b5d-143f-4d30-a6c3-23217fc0136b.woff2?1") format("woff2"), url("../fonts/d85949a1-c37a-43f7-9d09-fb056acf0c27.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-25UltL";
  src: url("../fonts/277370bf-544b-4d3b-9f99-b9566a4b722b.woff2?1") format("woff2"), url("../fonts/723fd1ed-5aad-454d-af88-3711c5caf1c7.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-95Blac";
  src: url("../fonts/e2c2affa-fc35-4c36-aabd-33c8665d0531.woff2?1") format("woff2"), url("../fonts/b1d7b778-bdf9-4ff3-b4e8-8cdabf234863.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-35Thin";
  src: url("../fonts/9ec06c5b-556a-4dc4-9db2-425acf9fd515.woff2?1") format("woff2"), url("../fonts/c881c21b-4148-4a11-a65d-f35e42999bc8.woff?1") format("woff"); }
