.brand{
	@include make-xs-column(9);

	@include make-sm-column(9);
	@include make-sm-column-offset(3);

	@include make-md-column(11);
	@include make-md-column-offset(1);
	
	padding: 0px;

	width: 100%;
	text-align: center;

	color: white;
}
.brand h1{
	font-family: 'Cinzel', serif;
	font-weight: 700;
	font-size: 45px;
	text-align: center;

	margin-bottom: 0px;
}
.brand h3{
	font-family: 'Marck Script', cursive;
	text-align: center;
	font-size: 26px;

	position: relative;

	margin-top: 0px;
}

.light{
	background: url("../img/fade_line.png");
	
	height: 28px;
    width: 249px;
    background-size: 240px;
    background-position-y: -11px;
    display: inline-block;
}


@media (min-width: $screen-xs-min) {
	.brand h1{
		font-size: 54px;
	}
	.light{
		height: 28px;
	    width: 370px;
	    background-size: 365px;
	    background-position-y: -25px;
	}
}