.carousel-control .fa{
	position: absolute;
	top: 50%;
}


.carousel-inner{
	.carousel-caption{
		bottom: 0px;
		padding: 10px 10px;
		left: 0px; right: 0px;
		text-align: left;
		opacity: 0;
		transition: opacity 0.3s linear 0s;
	}

	&:hover{
		.carousel-caption{
			background: rgba(100,100,100,0.9);
			opacity: 1;
		}
	}
}
