.contacts{
	display: block;
	@include make-sm-column(7, 0px);
	@include make-md-column(6, 0px);
	padding-left: 10px;
	width: 100%;

	background: rgba(0, 0, 0, 0.65);
	min-height: 160px;

	text-align: center;
	color: rgba(255,255,255,0.45);
}
ul.contact{
	padding-left: 0px;
	list-style-type: none;
}
.contact > .header{
	color: rgba(255,255,255,0.6);
	font-size: 25px;
}

.contact-item{
	clear:both;
	line-height: 24px;
}
.contact-item-icon{
	width: 20px;
	text-align: center;
	position: absolute;
}
a.contact-item-text{
	color: rgba(255,255,255,0.45);
}
.contact-item-text{
	margin-left: 25px;
}
	
	.contact-status{
		font-size: 12px;
		font-weight: 900;
	}
		.contact-status--is-close{
			color: red;
		}
		.contact-status--is-open{
			color: green;
		}

.map img{
	height: 160px;
	width: 170px;
}


@media (min-width: $screen-sm-min) {
	.contacts{
		text-align: left;
	}
	.contacts .map{
		position: absolute;
		right: 0px;
		top: 0px;
	}
}