.menu-item .dropdown-toggle{
	height: 50px;
}
.dropdown:hover > .kruger-dropdown{
	display: block;
}
.kruger-dropdown{
	@extend .dropdown-menu;

	position: absolute !important;
	float: none !important;

	border-radius: 0px;
	border: 0px;
	background: rgba(251, 251, 251, 0.65);

	padding: 0px;

	margin-top: 10px;

	width: 100%;


	transition: opacity 0.5s linear 0s;

	> li{
		display: block;
		width: 100%;
	}
	> li > a {
	    display: block;
	    padding: 3px 20px;
	    clear: both;
	    font-weight: normal;
	    line-height: $line-height-base;
	    color: $dropdown-link-color;
	    white-space: nowrap; // prevent links from randomly breaking onto new lines
  	}
}

.kruger-dropdown > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
  }
}