.galery{
	@include make-row(-60px);

	margin-top: 15px;
	margin-bottom: 15px;
}
.galery-item{
	@include make-xs-column(6,10px);
	@include make-sm-column(4,10px);
	position: relative;
	display: block;
	// height: 250px;

	margin-bottom: 10px;
}
.galery-item:before{
	content: '';
	display: inline-block;
	position: absolute;
	top: 0px;
	bottom: 52px;
	left: 5px;
	right: 5px;
	
	opacity: 0;
	background: black;
	transition: opacity 0.2s linear 0s;
}
.galery-item:hover:before{
	opacity: 0.6;
}
.galery-image{
	margin: 0 auto;

	// width: 90px;
	width: 100%;
}
.galery-title{
	background: red;
	height: 52px;
	// width: 100%;
	// position: absolute;
	// bottom: 0px;
	// left: 5px;
	// right: 5px;

	background: rgba(47, 46, 46, 1);

	color: white;
	line-height: 52px;
	text-align: center;
	font-size: 16px;
}