.logo{
/*	@include make-row();*/
	// @include make-xs-column(3);
	// @include make-sm-column(3);
/*	@include make-sm-column-offset(6);*/
	width: 100%;
	text-align: center;
}

// @media (min-width: 768px){
// 	.logo{
// 		position: absolute;
// 	}
// }


@media (min-width: $screen-sm-min) {
	.logo{
		position: absolute;
		left: 20px;
		width: auto;
	}
}