.menu{
	@include make-row(45px);
	// @include make-sm-column(12);
	// height: 40px;
	height: 80px;

	background: rgba(251, 251, 251, 0.65);
	position: relative;

	margin-top: 25px;
}
.menu_left-arrow{
	position: absolute;
	left: 0px;
	top: 80px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 19px 14px 0;
	border-color: transparent #000000 transparent transparent;
}
.menu_right-arrow{
	position: absolute;
	right: 0px;
    top: 80px;

	width: 0;
    height: 0;
    border-style: solid;
	border-width: 14px 19px 0 0;
	border-color: #000000 transparent transparent transparent;
}

.menu-item{
	// width: 50%;
	// float: left;
	@include make-xs-column(6, 0px);
	@include make-sm-column(3, 0px);
	text-align: center;
	line-height: 40px;
	font-family: "Lobster";
	font-size: 22px;

	height: 40px;

	cursor: pointer;

	text-decoration: none;
	color: black;

	transition: background 0.3s linear 0s;
}
.menu-item:hover{
	background: grey;
	color: #F5B073;

	text-decoration: none;
}
.menu-item--active{
	background: grey;
	color: white
}


@media (min-width: $screen-sm-min) {
	.menu{
		height: 40px;
	}
	.menu_right-arrow, .menu_left-arrow{
		top: 40px;
	}
}