div.paragraph{
	margin-top: 10px;
	margin-bottom: 10px;

	padding: 0px 5px;
	font-size: 16px;
	font-family: 'HelveticaNeueW01-45Ligh';
	font-style: italic;
	color: #C8C8C8;

	background: rgba(0, 0, 0, 0.65);
}
.white-row{
	text-indent: 10px;
}
div.paragraph > p{
	margin-bottom: 0px;	
}
.paragraph span.light-text{
	background: #324158;
}

@media (min-width: $screen-xs-min) {
	div.paragraph{
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (min-width: $screen-sm-min) {
	div.paragraph{
		font-size: 19px;
	}
}
