.scrollup{
	color: #67AF4B;
	text-align: center;
	font-family: "Museo_slab";
	cursor: pointer;
	transition: color 0.2s linear 0s;

	&:hover{
		color: white;
	}
}


@media (min-width: $screen-lg-min) {
	.scrollup{
		position: fixed;
		left: 0px;
		bottom: 10%;
	}
}