.separator{
	@include make-row(44px);
	// width: 55%;
	width: 90%;
	height: 53px;
	position: relative;	

	text-align: right;
	color: #F5B073;
	font-size: 33px;
	font-family: 'Lobster', cursive;

	background: rgba(0, 0, 0, 0.65);

	margin-top: 15px;
	margin-bottom: 15px;
}
.separator:before{
	position: absolute;
	left: 0px;
	top: 53px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 22px 14px 0;
	border-color: transparent #000000 transparent transparent;
}
.separator:after{
	position: absolute;
	right: -25px;
	top: 0px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26.5px 0 26.5px 25px;
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.65);;
}

@media (min-width: $screen-sm-min) {
	.separator{
		width: 55%;
	}
}
