@-webkit-keyframes shake {
	0% {
		left: 10px;
	}
	20% {
		left: 5px;
	}
	40% {
		left: 0px;
	}
	60% {
		right: 5px;
	}
	80% {
		right: 0px
	}
	100% {
		right: 2px;
	}
}
.social{
	display: block;
	text-align: center;
	margin-bottom: 10px;
	// @include make-xs-column(2, 20px);
	@include make-sm-column(1, 20px);
	// @include make-sm-column(1, 20px);

	// @include make-xs-column-offset(0);
	@include make-sm-column-offset(2);
	@include make-md-column-offset(5);
}


@media (min-width: $screen-sm-min) {
	.social{
		text-align: right;
	}
	.social a:first-of-type{
		margin-top: 0px;	
	}
	.social a{
		display: block;
		margin-top: 10px;
	}
	.social a:hover{
		position: relative;
		animation: shake 0.2s;
	}
}
