.l-background{
	height: 120%;
	width: 100%;

	position: fixed;
	left: 0px; top: 0px;

	background: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	z-index: -1;
}