
$container-sm: 100%;
$container-md: 980px;
$container-lg: 980px;

.l-constrained {
  @include container-fixed;
  overflow: hidden;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
    overflow: visible;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}