.l-footer{
	@include make-row(18px);

	background: rgba(0,0,0, 0.3);

	border-left: 1px solid #A3A3A3;
	border-right: 1px solid #A3A3A3;
	border-bottom: 2px solid #A3A3A3;


	margin-top: 5px;

	padding: 20px;
}